header{
    height: 95px;

    display: flex;
    justify-content: center;
}

#header{
    background-color: rgb(70, 70, 70);
    overflow: hidden;
    width: 90%;
    height: 90%;
    margin: 5px 5px 3px 5px;
    border-radius: 5px;
    outline: none;
    color: rgb(200, 200, 200);
    font-size: 2.5rem;
    text-align: right;
    padding-top: 20px;
    padding-right: 5px;

    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,1);
}